Bi-Encoders_and_Cross-Encoders_Two_Sides_of_the_Retrieval_Coin_by_Marc_Puig_Medium.pdf filter=lfs diff=lfs merge=lfs -text
articles/Cross-encoders_vs_Bi-encoders_a_deep_dive_into_text_encoding_methods_by_Rahul_Bhatia_Medium.pdf filter=lfs diff=lfs merge=lfs -text
