Bi-Encoders_and_Cross-Encoders_Two_Sides_of_the_Retrieval_Coin_by_Marc_Puig_Medium.pdf filter=lfs diff=lfs merge=lfs -text
articles/Cross-encoders_vs_Bi-encoders_a_deep_dive_into_text_encoding_methods_by_Rahul_Bhatia_Medium.pdf filter=lfs diff=lfs merge=lfs -text
articles/bert/Cross-encoders_vs_Bi-encoders_a_deep_dive_into_text_encoding_methods_by_Rahul_Bhatia_Medium.pdf filter=lfs diff=lfs merge=lfs -text
notebooks/bert/Wine_Prediction_with_RoBERTa_using_compound_query.ipynb filter=lfs diff=lfs merge=lfs -text
articles/Future_Token_Prediction-Causal_Language_Modelling_with_Per-Token_Semantic_State_Vector_for_Multi-Token_Prediction_Walker_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/On_Self-improving_Token_Embeddings_Kubek_2025.pdf filter=lfs diff=lfs merge=lfs -text
articles/A_Text_is_Worth_Several_Tokens-Text_Embedding_from_LLMs_Secretly_Aligns_Well_with_The_Key_Tokens_Nie_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/Analyzing_Transformers_in_Embedding_Space_Dar_2024.pdf filter=lfs diff=lfs merge=lfs -text
articles/embeddings/Word_Embeddings_with_word2vec_from_Scratch_in_Python_by_Bradney_Smith_Medium_2024.pdf filter=lfs diff=lfs merge=lfs -text
